.style-table {
	border-collapse: collapse;
	font-size: 0.9em;
	font-family: sans-serif;
	min-width: 450px;
	box-shadow: 0px 0px 20px rgba(0,0,0,0.15);
}

tr:hover {
	color: blue;
}

.style-table thead tr {
	background-color: #009879;
	color: #ffffff;
	text-align: left;
}

.style-table th,
.style-table td {
	padding: 12px 15px;
}

.style-table tbody tr.active-row {
    font-weight: bold;
    color: #009879;
}

.style-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.style-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.style-table tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
}