<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="{{url_for('static', filename='index.css')}}">
	<link rel="stylesheet" href="{{url_for('static', filename='form_style.css')}}">
	<link rel="stylesheet" href="{{url_for('static', filename='button.css')}}">
</head>
<body>
	<div class="main-display">
		<form class="form-card main-display__element" action="/register_user" method="post">
			<h1 class="form-card__title">Register</h1>
			{% with messages = get_flashed_messages() %}
				{% if messages %}
				<div class="errors form-card__errors">
					{% for message in messages %}
						<p class="errors__message">{{message}}</p>
					{% endfor %}
				</div>
				{% endif %}
			{% endwith %}
			<label class="form-card__label">First Name</label>
			<input class="form-card__input" type="text" name="first_name" value="{{session['reg_first_name']}}">
			<label class="form-card__label">Last Name</label>
			<input class="form-card__input" type="text" name="last_name" value="{{session['reg_last_name']}}">
			<label class="form-card__label">Email</label>
			<input class="form-card__input" type="text" name="email" value="{{session['reg_email']}}">
			<label class="form-card__label">Password</label>
			<input class="form-card__input" type="password" name="password" value="{{session['reg_password']}}">
			<label class="form-card__label">Confirm Password</label>
			<input class="form-card__input" type="password" name="confirm_password" value="{{session['reg_confirm_password']}}">

			<input class="button" type="submit" value="Register">
		</form>

		<form class="form-card main-display__element">
			<h1 class="form-card__title">Login</h1>
			<label class="form-card__label">Email</label>
			<input class="form-card__input" type="text">
			<label class="form-card__label">Password</label>
			<input class="form-card__input" type="password">

			<input class="button" type="submit" value="Login">
		</form>
	</div>
</body>
</html>
