.button {
	background-color: #009879;
	border: none;
	border-radius: 3px;
	color: #ffffff;
	font-size: 1em;
	font-weight: 700;
	padding: 7px 10px;
    text-decoration: none;
}

.button:hover {
	cursor: pointer;
	transform: translate(1px, 1px);
}

.button--inverted {
    background-color: #ffffff;
    color: #009879;
}