* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;

	font-family: sans-serif;
}

form {
	background-color: #3e3e3f;
	border-radius: 5px;
	max-width: 400px;
	margin: 0 auto;
	padding: 15px;
}

.form__title {
	color: peru;
	margin: 20px 0;
	text-align: center;
}

.form__input {
	border-radius: 5px;
	display: block;
	margin: 10px 0;
	padding: 5px 7px;
	width: 100%;
}

.form__label {
	color: white;
}

.form__footer {
    align-items: center;
    display: flex;
    justify-content: space-between;
	padding: 10px 5px;
}

.form__button {
	background-color: gold;
	border: none;
	border-radius: 3px;
	color: black;
	font-size: 1em;
	font-weight: 700;
	padding: 7px 10px;
    text-decoration: none;
}

.form__button:hover {
	cursor: pointer;
	transform: translate(1px, 1px);
}