<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='main_styles.css')}}">
</head>
<body>
    <div class="flex-row">
        <div class="flex-col">
            <form class="card" name="" action="" method="post" onsubmit="">
                <h1 class="card__title">Add BOOK's Favorite</h1>
                <p class="card__label">Author:</p>
                <select class="card__input" name="">
                    <!-- {% for book in non_favorite_books %} -->
                        <option value="">opt</option>
                    <!-- {% endfor %} -->
                </select>

                <input class="button" type="submit" value="Add Favorite">
            </form>

            <a class="button" href="/">Home</a>
        </div>

        <div class="card">
            <h1 class="card__title">Favorited By</h1>
            <!-- {% for author in authors %} -->
                <a class="card__link" href="">Author</a>
            <!-- {% endfor %} -->
        </div>
    </div>
</body>
<script src="{{url_for('static', filename='')}}"></script>
</html>