<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='main_styles.css')}}">
</head>
<body>
    <div class="flex-row">
        <div class="flex-col">
            <form class="card" name="book-form" action="/books/add" method="post" onsubmit="return ValidateBook()">
                <h1 class="card__title">New Book</h1>
                <p class="card__label">Title:</p>
                <input class="card__input" name="title" type="text">
                <p class="card__label"># of Pages:</p>
                <input class="card__input" name="num_pages" type="number">
                <input class="button" type="submit" value="Add Book">
            </form>

            <a class="button" href="/">Home</a>
        </div>

        <div class="card">
            <h1 class="card__title">All Books</h1>
            {% for book in books %}
                <a class="card__link" href="/books/{{book.id}}">{{book.title}}</a>
            {% endfor %}
        </div>
    </div>
</body>
<script src="{{url_for('static', filename='books.js')}}"></script>
</html>