<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='main_styles.css')}}">
</head>
<body>
    <div class="main__wrapper">
        <form class="card" action="">
            <h1 class="card__title">New Book</h1>
            <p class="card__label">Name:</p>
            <input class="card__input" type="text">
            <p class="card__label">Number of pages:</p>
            <input class="card__input" type="number">
            <input class="button" type="submit" value="Add Book">
        </form>

        <div class="card">
            <h1 class="card__title">All Books</h1>
            <a class="card__link" href="">hey</a>
            <a class="card__link" href="">hey</a>
            <a class="card__link" href="">hey</a>
        </div>
    </div>

    <div class="centered">
        <a class="button" href="">Home</a>
    </div>
</body>
</html>