<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='main_styles.css')}}">
</head>
<body>
    <div class="flex-row">
        <div class="flex-col">
            <form class="card" name="" action="" method="post" onsubmit="">
                <h1 class="card__title">Add {{book.title}}'s Favorite</h1>
                <p class="card__label">Author:</p>
                <select class="card__input" name="">
                    {% for author in not_favorited_by %}
                        <option value="">{{author.first_name}} {{author.last_name}}</option>
                    {% endfor %}
                </select>

                <input class="button" type="submit" value="Add Favorite">
            </form>

            <a class="button" href="/">Home</a>
        </div>

        <div class="card">
            <h1 class="card__title">Favorited By</h1>
            {% for author in book.favorited_by %}
                <a class="card__link" href="/authors/{{author.id}}">{{author.first_name}} {{author.last_name}}</a>
            {% endfor %}
        </div>
    </div>
</body>
<script src="{{url_for('static', filename='')}}"></script>
</html>