* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;

	font-family: sans-serif;
}

.main__wrapper {
	margin: auto;
	max-width: 1000px;
}

header {
	align-items: center;
	display: flex;
	justify-content: space-between;
	padding: 10px 10px;
}

.user-card {
	background-color: #009879;
	border-radius: 5px;
	max-width: 400px;
	margin: 0 auto;
	padding: 15px;
}

.user-card__title {
	color: black;
	margin: 20px 0;
	text-align: center;
}

.user-card__label {
	color: white;
	text-align: center;
}

.user-card__input {
	border: 2px solid transparent;
	border-radius: 5px;
	color: black;
	display: block;
	font-size: 1em;
	font-weight: 800;
	margin-top: 5px;
	margin-bottom: 10px;
	padding: 5px 7px;
	text-align: center;
	width: 100%;
}

.user-card__input--hidden {
	background-color: #009879;
}

.user-card__footer {
    align-items: center;
    display: flex;
    justify-content: space-between;
	padding: 10px 5px;
}

.button {
	background-color: #009879;
	border: none;
	border-radius: 3px;
	color: #ffffff;
	font-size: 1em;
	font-weight: 700;
	padding: 7px 10px;
    text-decoration: none;
}

.button:hover {
	cursor: pointer;
	transform: translate(1px, 1px);
}

.button--inverted {
    background-color: #ffffff;
    color: black;
}