<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" href="{{ url_for('static', filename='common.css') }}">
	</head>
	<body>
		<form class="user-card" action="/user_update" method="post">
			<input type="hidden" name="id" value="{{user.id}}">
            <h1 class="user-card__title">Edit User</h1>
			<label class="user-card__label">First Name:</label>
			<input type="text" name="fname" class="user-card__input" value="{{user.first_name}}">
			<label class="user-card__label">Last Name:</label>
			<input type="text" name="lname" class="user-card__input" value="{{user.last_name}}">
			<label class="user-card__label">Email:</label>
			<input type="text" name="email" class="user-card__input" value="{{user.email}}">

            <div class="user-card__footer">
				<input type="submit" class="button button--inverted" value="Update">
                <a class="button button--inverted" href="/users/{{user.id}}">Show User</a>
            </div>
		</form>
	</body>
</html>
