body {
	align-items: center;
	display: flex;
	flex-direction: column;
}

h1 {
	background-color: black;
	color: red;
}

.checkerboard__row {
	display: flex;
}

.checkerboard__cell-a {
	background-color: blue;
	height: 50px;
	width: 50px;
}

.checkerboard__cell-b {
	background-color: red;
	height: 50px;
	width: 50px;
}