<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" href="{{ url_for('static', filename='card.css') }}">
	</head>

	<body>
        <div class="horizontal-card-holder">
            <form class="card" action="/dojos/add" method="post" name="dojo-form" onsubmit="return ValidateDojoForm()">
                <h1 class="card__title">Add New Dojo</h1>
                <p class="card__label">Dojo Name:</p>
                <input type="text" name="dojo_name" class="card__input">
                <div class="card__footer">
                    <input class="button" type="submit" value="Add Dojo">
                </div>
            </form>

            <a class="button" href="/ninjas">Add Ninja</a>
    
            <div class="card" action="/dojos/add" method="post" name="dojo-form">
                <h1 class="card__title">Dojos</h1>
                {% for dojo in dojos %}
                <a class="card__link" href="/">{{dojo.name}}</a>
                {% endfor %}
            </div>
        </div>
	</body>

	<script src="{{ url_for('static', filename='dojos.js') }}"></script>
</html>
