<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" href="{{ url_for('static', filename='card.css') }}">
	</head>
	<body>
		<form class="card" action="/ninjas/add" method="post" name="ninja-form" onsubmit="return ValidateNinjaForm()">
            <h1 class="card__title">Add New Ninja</h1>
			<p class="card__label">Dojo:</p>
			<select name="dojo_id" class="card__input">
				<!-- ADD DOJOS FROM DB  -->
				<!-- <option value="{{dojo_id}}">{{dojo_name}}</option>
				<option value="2">doj2</option> -->
			</select>
			<p class="card__label">First Name:</p>
			<input type="text" name="first_name" class="card__input">
			<p class="card__label">Last Name:</p>
			<input type="text" name="last_name" class="card__input">
			<p class="card__label">Age:</p>
			<input type="number" name="age" class="card__input">

            <div class="card__footer">
				<input class="button" type="submit" value="Add Ninja">
                <a class="button" href="/">Home</a>
            </div>
		</form>
	</body>

	<script src="{{ url_for('static', filename='ninjas.js') }}"></script>
</html>
